.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.p {
  text-align: center;
  margin-top: 20vh;
  font-size: 32px;
  font-weight: 400;
  color: grey;
}

.wrapper {
  text-align: center;
}
